body {
  background-color: aqua;
}

header {
  padding: 20px;
  background: cornflowerblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  display: center;
  text-align: center;
}
nav {
  align-items: right;
}

section ul {
  display: inline-table;
  font-size: 25px;
  list-style-type: none;
  text-align: right;
}

#mywork {
  float: left;
  margin-left: 25px;
}
