body {
    background-color: aqua;
}

.header {
padding-top: 10px;
margin-right: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
display: inline-block;
margin-right: 50px;

}

.header ul {
display:inline-block;
font-size: 25px;
list-style-type: none;
}
.header seciton ul {
display: inline-block;
margin-left: 20px;
}

.mywork {
float: left;
margin-left: 25px;

}